.yes {
    background-color: lightpink;
    font-family: Verdana, 'DejaVu Sans', sans-serif;
}

#one {
    color: blue;
    font-size: 36px;
}

.two {
    font-size: 24px;
}

#four {
    background-color: lightgreen;
    font-size: 24px;
    font-weight: bold;
}